
.container{
    margin-top: 10vh;
    margin-left: 35vw;
    width: 30vw;
    height:80vh;
    background-color: blanchedalmond;
}
.screen{

 height: 15%;
 background-color: black;
 color: white;
 text-align: center;

}
.buttons{
    display:flex;
    flex-wrap: wrap;
}
button{
    width:10vw;
    height:10vh;
}